body {
    margin: 0;
    padding: 0;
}


.footer-container {
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    width: 1540px;
    height: 474px;
}

.footer-container .footer {
    width: 574px;
    height: 474px;
    background-color: #1c1c1c;
    color: #fff;
}

.footer .logo P{
    font-size: 50px;
    font-weight: 600;
    padding-top: 120px;
    margin: 135px;
    color: white;
    text-align: center;
    height: 100px;
}

.social-media {
    position: relative;
    width: 450px;
    margin: -50px 15%;
}

.social-media .social-media-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: #000;
}

.social-media .social-media-icon:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.logo h3 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 50px;
    padding-left: 55px;
    margin: 0;
    color: white;
    text-align: center;
}

